# Database Configuration
DB_USERNAME=your-db-username
DB_PASSWORD=your-db-password

# Keycloak Configuration
KEYCLOAK_CLIENT_ID=your-keycloak-client-id
KEYCLOAK_CLIENT_SECRET=your-keycloak-client-secret
KEYCLOAK_URL=your-keycloak-url
KEYCLOAK_REALM=your-keycloak-realm

# Basic Auth Admin
BASIC_AUTH_USERNAME=admin
BASIC_AUTH_PASSWORD=admin123